body, html, li, ul, form {
    margin: unset;
}

.project-header{
    background-color: #3f6fad;
    color: white;
}

.project-taskformsection{
    background-color: lightgrey;
}

.project-container{
    background-color: white;
}

.background {
    background-image: linear-gradient(white, orange);
}

.task-checkbox{
    border-right: 1px solid;
    border-right-color: plum;
}

.task-descrition{
    border-right: 0.5px solid;
    border-right-color: #6c757d;

    border-left: 1px solid;
    border-left-color: plum;

}

.task-container{
    border-top: 0.5px solid;
    border-color: #6c757d;
}

@media (max-width: 768px) {
    .task-descrition{
        border-right-color: #6c757d;
        margin-left: 5;
    
    }
    .task-buttons{
        border-top: 0.5px solid;
        border-color: #6c757d;
    }

  }