.project-header{
    background-color: #3f6fad;
    color: white;
    border: 1px solid black;
}

.project-form__container{
    background-color: lightgrey;
}

.task-column{
    border: 1px solid #efdcdf;
    background-color: white;
}

.task-column__border-right__double {
    border-right-style: double;
    border-right-width: 6px;
}

.task-table{
    background-color: white;
    width: 100%;
    
}

.background {
    background-image: linear-gradient(white, orange);
}