<!DOCTYPE html>
<html lang="en">
<body>
    <form
        class='container d-flex flex-column align-self-center justify-content-center my-4 py-2 bg-white border border-primary' id="add_form"
        hx-post={% url "new_project" %}
        hx-target="#project_list"
        hx-swap="beforeend"
    >
    <!-- Buttons open more detailed form to fill before creatin -->
        <div class="row-cols-1 align-self-center">
            <button
                class="btn btn-primary col"
                hx-get={% url "add_button" %}
                hx-target="#add_form"
                hx-swap="outerHTML"
            >
                Close
            </button>
        </div>    
        <div class="row m-2">
            <div class="text-center">Name</div>
        </div>
        <div class="row m-2">
            <input class="form-control" type="text" name="name" placeholder="DafaultName" />
        </div>
        <div class="row m-2">
            <div class="text-center">Expire Date (optional)</div>
        </div>
        <div class="row m-2 align-self-center">
            <input class="form-control " type="datetime-local" name="expire_date" />
        </div>

        <div class="row align-self-center">
            <button
                class="btn btn-primary"
                type="submit"
            >Add TODO List</button>
        </div>
    </form>
</body>
</html>
