<!DOCTYPE html>
<html lang="en">
<body>
    <div id="announcement" class="container d-flex justify-content-center align-self-center my-2 border border-secondary rounded-5 p-2 overflow-hidden">
        <div class="row">
        {% if error %} 
        <p class="row-col-1 text-danger ">{{message}}</p>
        {% else %}
        <p class="row-col-1 text-success ">{{message}}</p>
        {% endif %}
        <button class="row-col-1 btn btn-warning " hx-get="" hx-target="#announcement" hx-swap="delete"> Close</button>
        </div>
    </div>
</body>
</html>