<!DOCTYPE html>
<html lang="en">
<body>
    <div id="announcement" class="container">
        <div class="row">
            {% if error %} 
            <div class="col">{{message}}</div>
            <button hx-get="" hx-target="#announcement" hx-swap="delete"> Close</button>
            {% else %}
            <div class="col">{{message}}</div>
            <button hx-get="" hx-target="#announcement" hx-swap="delete"> Close</button>
            {% endif %}
        </div>
    </div>
</body>
</html>