<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
</head>
<body>
<div class="container" id="project_body_{{project.id}}">
    <!-- Row header -->
    <header class="row" id="project_header_{{project.id}}">
        <!-- Col with icon -->
        <div class="col-1"></div>
        <!-- Col with name of project -->
        <div class="col col-md-9">
          {{project.name}}
        </div>
        <!-- Col with buttons to edit and delete project-->
        <div class="col-sm-2">
         <!-- Edit Project Button -->
            <button
                class="btn"
                hx-get={% url "start_edit_project" project.id%}
                hx-target="#project_header_{{project.id}}"
                hx-swap="outerHTML"
            >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
            </svg>
            </button>
        <!-- Delete Project Button -->
            <button
                class="btn"
                hx-delete={% url "delete_project" project.id%}
                hx-confirm="{{project.name}} will be deleted. Are you sure?"
                hx-target="#project_body_{{project.id}}"
                hx-swap="outerHTML"
            >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
            </svg>
            </button>
        </div>
    </header>
    <!-- Row Form to add task -->
    <form 
        class="row"
        hx-post={% url "create_task_for_project" project.id %} 
        hx-target="#task_list_{{project.id}}" hx-swap="afterend"
    >

        <!-- Col with icon -->
        <div class="col-sm-1"></div>
        <!-- Col with input field -->
        <input
            class="col"
            type="text"
            name="description"
            placeholder="Start typing here to create a task"
        >
        <!-- Col with button -->
        <button class="btn btn-success col-sm-2" type="submit">
            Add Task
        </button>
    </form>
    <!-- Container for tasks-->
    <form 
        id="task_list_{{project.id}}" 
        clas="row" 
        hx-post={% url "sort_project" project.id %} 
        hx-trigger="end" 
        hx-swap="none"
    >
      {% for task in project.tasks %}
        <div 
            hx-get={% url "task_details" task.id%} 
            hx-trigger="load"
            hx-target="this" 
            hx-swap="outerHTML"
        > 
        </div>
      {% endfor %}
    </form>
    <script>
        Sortable.create(task_list_{{project.id}});
    </script>
</div>
</body>
</html>