<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Row header -->
    <header class="row">
        <!-- Col with icon -->
        <div class="col-1"></div>
        <!-- Col with name of project to add task -->
        <div class="col col-md-9">
          {{project.name}}
        </div>
        <!-- Col with buttons to edit and delete project-->
        <div class="col-sm-2"></div>
    </header>
    <!-- Row Form to add task -->
    <form 
    class="row"
        hx-post={% url "create_task_for_project" project.id %} 
        hx-target="#task_list" hx-swap="afterend"
    >

        <!-- Col with icon -->
        <div class="col-sm-1"></div>
        <!-- Col with input field -->
        <input
            class="col"
            type="text"
            name="description"
            placeholder="Start typing here to create a task"
        >
        <!-- Col with button -->
        <button class="btn btn-success col-sm-2" type="submit">
            Add Task
        </button>
    </form>
    <!-- Container for tasks-->
    <div id="task_list" clas="container">
      {% for task in project.tasks %}
        <div 
            hx-get={% url "task_details" task.id%} 
            hx-trigger="load"
            hx-target="#task_list" 
            hx-swap="afterend"
        > 
        </div>
      {% endfor %}
    </div>
</body>
</html>