<!DOCTYPE html>
<html lang="en">
    <body>
        <header class="row project-header border border-dark" id="project_header_{{project.id}}">
            <!-- Col with icon -->
            <div class="col-1 d-flex justify-content-center align-items-center text-dark">
                <i class="fa fa-calendar fa-2x"></i>
            </div>
            <!-- Col with edit form of project-->
            <div class="col col-md-9 my-2">
                <form 
                    action="container form-control" 
                    hx-put={% url "submit_edit_project" project.id%} 
                    hx-trigger="submit" 
                    hx-target="#project_header_{{project.id}}"
                    hx-swap="outerHTML"
                >
                    <div class="row-cols-1"> Name </div>
                    <textarea class="row-col-1 form-control" type="text" name="name">{{project.name}}</textarea>
                    {% if error %}
                    <p class="text-danger">{{message}}</p>
                    {% endif %}
                    <div class="row-col-1"> Expire date in yyyy-mm-ddTHH:mm:ss format</div> <!--FIX THIS THROUGH ALPINE-->
                    <input 
                        type="datetime-local" 
                        name="expire_date" 
                        value={{project.expire_date}}
                        class="row-col-1 form-control"
                    />
                    <button class="row-col-1 btn btn-success" type="submit">Confirm</button>
                    </div>
                </form>
            </div>
            <!-- Col with button to cancel edit-->
            <div class="col-md col-xs-3 d-flex justify-content-center align-content-center align-items-center flex-row task-buttons">
             <!-- Edit Project Button -->
             <button
             hx-get={% url "get_project_header" project.id%}
             hx-target="#project_header_{{project.id}}"
             hx-swap="outerHTML"
        
             class="btn btn-warning"
             >
             Cancel
             </button>
            </div>
        </header>
    </body>
</html>

