<!DOCTYPE html>
<html lang="en">
<body>
    <div 
        class="row task-container edit" 
        style="background: #fcfed5;"
        id="task_body_{{task.id}}"
        x-data="{bgcolor: ''}"
        x-bind:style="{background: bgcolor}"
        @mouseenter="bgcolor = '#fcfed5'"
        @mouseleave="bgcolor = ''"
    >
        <!-- Checkbox column -->
        <div class="col-1 d-flex justify-content-center task-checkbox ">
            <butto class="btn">

            </butto>
        </div>
        <!-- Description column -->
        <div class="col col-xs-10 col-md-8 col-lg-9 task-descrition ms-md-1 ">
            <form 
                action="container form-control" 
                hx-put={% url "submit_edit_task" task.id%} 
                hx-trigger="submit" 
                hx-target="#task_body_{{task.id}}"
                hx-swap="outerHTML"
            >
                    <div class="row-cols-1 my-2"> Description </div>
                    <textarea class="row-col-1 form-control my-2" type="text" name="description">{{task.description}}</textarea>
                    <div class="row-col-1"> Date in yyyy-mm-ddTHH:mm:ss format</div> <!--FIX THIS THROUGH ALPINE-->
                    <input 
                        type="text" 
                        type="date" 
                        name="expire_date" 
                        value={{task.expire_date}}
                        class="row-col-1 form-control my-2"
                    />
                    <button class="row-col-1 btn btn-success my-2" type="submit">Confirm</button>
                </div>
            </form>
        <!-- Buttons columnm -->
        <div class="col-md col-xs-3 d-flex justify-content-center align-content-center align-items-center flex-row task-buttons">
            <button
                hx-get={% url "task_details" task.id%}
                hx-target="#task_body_{{task.id}}"
                hx-swap="outerHTML"
            
                class="btn btn-warning"
            >
            Cancel
            </button>
        </div>
    </div>
</body>
</html>